.header__navbar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
  @media (max-width: 768px) {
    .header__navbar {
      box-shadow: none; } }

@media (max-width: 768px) {
  .header__navbar-home {
    background: #399F3D26; } }

.header__contenedor {
  overflow: hidden; }
  .header__contenedor-inicio {
    height: 100vh; }
    @media (max-width: 768px) {
      .header__contenedor-inicio {
        height: auto; } }

.header__logo-link {
  margin-left: 3rem; }

@media (max-width: 768px) {
  .header__logo-home {
    display: none; } }

.header__navbar-toggler {
  margin: 2.5rem 1.5rem 2.5rem 0;
  color: #3534BE !important;
  border: none; }
  .header__navbar-toggler-icon {
    height: 4rem;
    width: 4rem; }

.navbar-light .navbar-toggler-icon {
  background-image: url("../assets/header/iconoir_menu.svg"); }

.header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center; }

.header__links {
  font-size: 2.7rem;
  font-weight: 500;
  color: #449847 !important;
  margin: 3rem 5rem;
  text-align: center; }
  @media (max-width: 1200px) {
    .header__links {
      margin: 3rem 4rem; } }
  @media (max-width: 768px) {
    .header__links {
      color: #3534BE !important;
      font-size: 1.8rem;
      margin: 1rem 0; } }
  .header__links-activo {
    font-weight: 700; }

.header__presentacion {
  background: #399F3D26;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 1440px) {
    .header__presentacion {
      display: grid;
      grid-template-columns: 45% 55%;
      grid-template-rows: 100%;
      align-items: center; } }

.header__imagen {
  display: none;
  position: absolute;
  left: 0;
  max-width: 95%;
  max-height: 100%; }
  @media (max-width: 1440px) {
    .header__imagen {
      display: block; } }
  @media (max-width: 480px) {
    .header__imagen {
      display: none; } }
  .header__imagen-contenedor {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center; }
  .header__imagen-responsive {
    display: none; }
    @media (max-width: 480px) {
      .header__imagen-responsive {
        display: block; } }

.header__texto {
  color: #399F3D;
  font-weight: 700; }
  .header__texto span {
    color: #092971; }

.header__titulo {
  font-size: 7rem; }
  @media (max-width: 768px) {
    .header__titulo {
      font-size: 2.5rem; } }

.header__subtitulo {
  font-size: 4rem; }
  @media (max-width: 768px) {
    .header__subtitulo {
      display: none; } }

.header__boton {
  color: #092971;
  font-weight: 700;
  background: #F9DF4B;
  border: none;
  border-radius: 1rem;
  margin-top: 5rem;
  padding: 1rem 5rem; }
  @media (max-width: 768px) {
    .header__boton {
      background: #092971;
      color: white; } }

.comienzo {
  padding-top: 11rem; }
  @media (max-width: 768px) {
    .comienzo {
      padding-top: 1rem; } }

.comienzo__titulo {
  text-align: center; }
  @media (max-width: 768px) {
    .comienzo__titulo {
      font-size: 2.5rem; } }
  .comienzo__titulo span {
    color: inherit; }
    @media (max-width: 768px) {
      .comienzo__titulo span {
        display: block;
        margin-top: .5rem;
        font-size: 2rem; } }

.comienzo__imagen {
  max-width: 100%;
  margin: 8rem 0rem; }
  @media (max-width: 768px) {
    .comienzo__imagen {
      display: none; } }
  .comienzo__imagen-responsive {
    display: none;
    max-width: 80%;
    margin: 5rem auto 0 auto; }
    @media (max-width: 768px) {
      .comienzo__imagen-responsive {
        display: block; } }

.testimonios {
  padding-top: 12rem; }

@media (max-width: 768px) {
  .testimonios__titulo {
    display: none; } }

.testimonios__titulo-responsive {
  display: none; }
  @media (max-width: 768px) {
    .testimonios__titulo-responsive {
      display: block;
      text-align: center;
      font-size: 2rem; }
      .testimonios__titulo-responsive span {
        display: block; } }

.testimonios__cards {
  margin-top: 8rem;
  display: flex;
  gap: 5rem; }

.testimonios__cuerpo {
  padding: 5rem; }

.testimonios__comillas {
  margin-bottom: 2rem; }

.testimonios__autor {
  margin: 2rem 0rem 0rem 0rem;
  color: #449847;
  font-weight: 700; }

.testimonios__nacionalidad {
  font-size: 1.7rem; }

.testimonios__boton {
  color: #FFFFFF;
  font-weight: 700;
  background: #092971;
  border: none;
  border-radius: 1rem;
  margin-top: 10rem;
  padding: 1rem 5rem; }
  .testimonios__boton-contenedor {
    display: flex;
    justify-content: center; }
  @media (max-width: 768px) {
    .testimonios__boton {
      background: #449847; } }

.presentacion-profesor {
  padding-top: 20rem; }
  .presentacion-profesor-contenedor {
    position: relative; }

.presentacion-profesor__imagen {
  position: absolute;
  width: 40%;
  right: 0;
  top: 50;
  transform: translateY(-50%); }

.presentacion-profesor__card {
  max-width: 60%; }

.presentacion-profesor__cuerpo {
  padding: 5rem; }

.presentacion-profesor__texto {
  margin: 1.8rem 0rem 0rem 0rem; }

.podcast-contenedor {
  position: relative;
  overflow: hidden;
  padding: 24rem 0rem; }

.podcast__imagen {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%; }

.podcast__card {
  margin-top: 8rem;
  background: #399F3D !important;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 3fr 1fr; }
  .podcast__card-contenedor {
    max-width: 40%; }

.podcast__cuerpo {
  padding: 1.5rem 0rem 4rem 4rem; }

.podcast__spotify {
  font-size: 2.5rem; }

.podcast__nombre {
  font-size: 3.5rem;
  font-weight: 700; }

.podcast__duracion {
  margin-bottom: 0; }
  .podcast__duracion-contenedor {
    display: flex;
    align-items: center;
    gap: 1rem; }

.podcast__spotify-logo {
  align-self: center;
  height: 8.7rem;
  width: 8.7rem; }

.tarifas {
  padding-top: 5.5rem; }
  @media (max-width: 768px) {
    .tarifas {
      padding-top: 3rem; } }

.tarifas__titulo {
  text-align: center; }
  @media (max-width: 768px) {
    .tarifas__titulo {
      font-size: 3rem; } }

.tarifas-contenedor {
  padding: 4rem;
  height: 500px; }

.tarifas__cards {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }

.tarifas__nivel {
  font-size: 2.5rem;
  font-weight: 700; }

.tarifas__lista {
  margin: 2rem 0rem 4rem 0rem; }

.tarifas__items {
  display: list-item;
  list-style-image: url("../assets/tarifas/bullet-points-1.svg");
  padding-inline-start: 1ch;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.tarifas__botones {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  width: 228px;
  margin-bottom: 20px; }

.tarifas__mas-informacion {
  color: #FFFFFF;
  background: #449847;
  border: none; }

.tarifas__precio {
  color: #449847;
  background: #FFFFFF;
  border: 2px solid #449847; }

.tarifas__mas-informacion,
.tarifas__precio {
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 1.5rem 0rem; }

.requisitos {
  padding-top: 14rem; }

@media (max-width: 768px) {
  .requisitos__titulo {
    font-size: 1.6rem; } }

.requisitos__lista {
  margin-top: 6rem; }
  @media (max-width: 768px) {
    .requisitos__lista {
      margin-top: 3rem; } }

.requisitos__items {
  font-weight: 700;
  display: list-item;
  list-style-image: url("../assets/tarifas/bullet-points-2.svg");
  padding-inline-start: 1ch;
  margin-bottom: 3rem; }
  @media (max-width: 768px) {
    .requisitos__items {
      font-size: 1.2rem;
      list-style-image: url("../assets/tarifas/bullet-points-2-responsive.svg"); } }

.sobre-nosotros {
  padding: 5.5rem 0rem 10rem 0rem; }
  @media (max-width: 768px) {
    .sobre-nosotros {
      padding: 3rem 0rem 6rem 0rem; } }

.sobre-nosotros__titulo {
  text-align: center;
  margin-bottom: 8rem; }
  @media (max-width: 768px) {
    .sobre-nosotros__titulo {
      font-size: 3rem;
      margin-bottom: 5rem; } }

.sobre-nosotros-contenedor {
  display: grid;
  align-items: center;
  grid-template-columns: 45% 55%; }
  @media (max-width: 768px) {
    .sobre-nosotros-contenedor {
      display: flex;
      flex-direction: column;
      gap: 3rem; } }

@media (max-width: 768px) {
  .sobre-nostros__imagen {
    width: 70%; } }

.sobre-nosotros__presentacion {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem; }
  @media (max-width: 768px) {
    .sobre-nosotros__presentacion {
      font-size: 1.8rem;
      text-align: center; } }

.sobre-nosotros__texto {
  font-size: 3rem; }
  @media (max-width: 768px) {
    .sobre-nosotros__texto {
      font-size: 1.4rem;
      text-align: center;
      margin: 0 5rem; } }

.nuestro-objetivo {
  padding: 7rem 0rem; }
  @media (max-width: 768px) {
    .nuestro-objetivo {
      padding: 6rem 0rem; } }

.nuestro-objetivo__titulo {
  margin-bottom: 4rem; }
  @media (max-width: 768px) {
    .nuestro-objetivo__titulo {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 2rem; } }

.nuestro-objetivo__texto {
  color: #449847;
  font-size: 3rem; }
  @media (max-width: 768px) {
    .nuestro-objetivo__texto {
      font-size: 1.4rem;
      text-align: center;
      margin: 0 5rem; } }

.footer {
  background: #092971;
  color: #FFFFFF; }
  .footer-contenedor {
    display: grid;
    grid-template-columns: 70% 30%; }
    @media (max-width: 768px) {
      .footer-contenedor {
        grid-template-columns: 100%; } }

.footer__sitemap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
  margin: 13rem 0rem; }
  @media (max-width: 768px) {
    .footer__sitemap {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: flex-start;
      margin: 5rem 0 5rem 0;
      gap: 0rem; } }

.footer__titulos {
  font-weight: 700;
  margin-bottom: 1.5rem; }
  @media (max-width: 768px) {
    .footer__titulos {
      font-size: 1.6rem; } }

.footer__enlaces {
  color: #FFFFFF; }
  @media (max-width: 768px) {
    .footer__enlaces {
      font-size: 1.4rem; } }

.footer__redes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem; }
  @media (max-width: 768px) {
    .footer__redes {
      display: none; } }
  .footer__redes-responsive {
    display: none; }
    @media (max-width: 768px) {
      .footer__redes-responsive {
        display: flex;
        flex-direction: column;
        gap: .5rem; } }

.footer__whatsapp {
  height: 4.5rem;
  width: 4.5rem; }
  @media (max-width: 768px) {
    .footer__whatsapp {
      height: 1.8rem;
      width: 1.8rem; } }

.footer__facebook {
  height: 4.5rem;
  width: 4.5rem; }
  @media (max-width: 768px) {
    .footer__facebook {
      height: 1.8rem;
      width: 1.8rem; } }

.footer__instagram {
  height: 4.1rem;
  width: 4.1rem; }
  @media (max-width: 768px) {
    .footer__instagram {
      height: 1.5rem;
      width: 1.5rem; } }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px*/ }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Poppins', sans-serif;
  color: #092971;
  font-weight: 400;
  font-size: 2rem;
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

a:hover {
  color: inherit; }

ul {
  list-style-type: none; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

h1, h2, h3 {
  color: #449847;
  font-weight: 700; }
  h1 span, h2 span, h3 span {
    color: #092971; }

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto; }

.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center; }

.divider-general {
  display: block;
  margin: 0 auto; }
