.footer {
  background: #092971;
  color: #FFFFFF;
  &-contenedor {
    display: grid;
    grid-template-columns: 70% 30%;

    @media (max-width: 768px) {
      grid-template-columns: 100%;
    }
  }
}

.footer__sitemap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
  margin: 13rem 0rem;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: flex-start;
    margin: 5rem 0 5rem 0;
    gap: 0rem;
  }
}

.footer__titulos {
  font-weight: 700;
  margin-bottom: 1.5rem;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

.footer__enlaces {
  color: #FFFFFF;

  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}

.footer__redes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;

  @media (max-width: 768px) {
    display: none;
  }

  &-responsive {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }
}

.footer__whatsapp {
  height: 4.5rem;
  width: 4.5rem;

  @media (max-width: 768px) {
    height: 1.8rem;
    width: 1.8rem
  }
}

.footer__facebook {
  height: 4.5rem;
  width: 4.5rem;

  @media (max-width: 768px) {
    height: 1.8rem;
    width: 1.8rem
  }
}

.footer__instagram{
  height: 4.1rem;
  width: 4.1rem;

  @media (max-width: 768px) {
    height: 1.5rem;
    width: 1.5rem
  }
}
