// Comienzo
.comienzo {
  padding-top: 11rem;

}
.comienzo__titulo {
  text-align: center;
}

.comienzo__imagen {
  max-width: 100%;
  margin: 8rem 0rem;;
}

// Testimonios
.testimonios {
  padding-top: 12rem;
}

.testimonios__cards {
  margin-top: 8rem;
  display: flex;
  gap: 5rem;
}

.testimonios__cuerpo {
  padding: 5rem;
}

.testimonios__comillas {
  margin-bottom: 2rem;
}

.testimonios__autor {
  margin: 2rem 0rem 0rem 0rem;
  color: #449847;
  font-weight: 700;
}

.testimonios__nacionalidad {
  font-size: 1.7rem;
}

.testimonios__boton {
  color: #FFFFFF;
  font-weight: 700;
  background: #092971;
  border: none;
  border-radius: 1rem;
  margin-top: 10rem;
  padding: 1rem 5rem;
  &-contenedor {
    display: flex;
    justify-content: center;
  }
}

// Presentación profesor
.presentacion-profesor {
  padding-top: 20rem;

  &-contenedor {
    position: relative;
  }
}
.presentacion-profesor__imagen {
  position: absolute;
  width: 40%;
  right: 0;
  top: 50;
  transform: translateY(-50%);
}

.presentacion-profesor__card {
  max-width: 60%;
}

.presentacion-profesor__cuerpo {
  padding: 5rem;
}

.presentacion-profesor__texto {
  margin: 1.8rem 0rem 0rem 0rem;
}

//Podcast
.podcast-contenedor {
  position: relative;
  overflow: hidden;
  padding: 24rem 0rem;
}

.podcast__imagen {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
}

.podcast__card {
  margin-top: 8rem;
  background: #399F3D !important;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 3fr 1fr;

  &-contenedor {
    max-width: 40%
  }
}

.podcast__cuerpo {
  padding: 1.5rem 0rem 4rem 4rem;
}

.podcast__spotify {
  font-size: 2.5rem;
}

.podcast__nombre {
  font-size: 3.5rem;
  font-weight: 700;
}

.podcast__duracion {
  margin-bottom: 0;
  &-contenedor {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.podcast__spotify-logo {
  align-self: center;
  height: 8.7rem;
  width: 8.7rem;
}
