// Comienzo
.comienzo {
  padding-top: 11rem;

  @media (max-width: 768px) {
    padding-top: 1rem;
  }
}

.comienzo__titulo {
  text-align: center;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }

  & span {
    color: inherit;

    @media (max-width: 768px) {
      display: block;
      margin-top: .5rem;
      font-size: 2rem;
    }
  }
}

.comienzo__imagen {
  max-width: 100%;
  margin: 8rem 0rem;

  @media (max-width: 768px) {
    display: none;
  }

  &-responsive {
    display: none;
    max-width: 80%;
    margin: 5rem auto 0 auto;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

// Testimonios
.testimonios {
  padding-top: 12rem;
}
.testimonios__titulo {

  @media (max-width: 768px) {
    display: none;
  }

  &-responsive {
    display: none;

    @media (max-width: 768px) {
      display: block;
      text-align: center;
      font-size: 2rem;

      & span {
        display: block;
      }
    }
  }
}

.testimonios__cards {
  margin-top: 8rem;
  display: flex;
  gap: 5rem;
}

.testimonios__cuerpo {
  padding: 5rem;
}

.testimonios__comillas {
  margin-bottom: 2rem;
}

.testimonios__autor {
  margin: 2rem 0rem 0rem 0rem;
  color: #449847;
  font-weight: 700;
}

.testimonios__nacionalidad {
  font-size: 1.7rem;
}

.testimonios__boton {
  color: #FFFFFF;
  font-weight: 700;
  background: #092971;
  border: none;
  border-radius: 1rem;
  margin-top: 10rem;
  padding: 1rem 5rem;
  &-contenedor {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    background: #449847;
  }
}

// Presentación profesor
.presentacion-profesor {
  @media (max-width: 768px) {
    position: relative;
    overflow-x: hidden;
  }

  &-contenedor {
    position: relative;
    padding-top: 25rem;

    @media (max-width: 768px) {
      position: static;
    }
  }
}

.presentacion-profesor__imagen {
  position: absolute;
  width: 55rem;
  right: 0;
  top: 0;
  z-index: -1;

  @media (max-width: 1200px) {
    top: 5%;

  }
  @media (max-width: 992px) {
    width: 45rem;
  }

  @media (max-width: 768px) {
    top: 10%;
    right:-5%;
    width: 40rem;
  }

  @media (max-width: 480px) {
    top: 10%;
    right:-25%;
    width: 35rem;
  }
}

.presentacion-profesor__card {
  max-width: 60%;

  @media (max-width: 480px) {
    max-width: 75%;
  }
}

.presentacion-profesor__cuerpo {
  padding: 5rem;

  @media (max-width: 768px) {
    padding: 2rem;
  }

  @media (max-width: 480px) {
    padding: 1.5rem;
  }
}

.presentacion-profesor__titulo {
  @media (max-width: 768px) {
    font-size: 2rem;
  }

}

.presentacion-profesor__texto {
  margin: 1.8rem 0rem 0rem 0rem;

  @media (max-width: 768px) {
    font-size: 1.4rem;

  }
}

//Podcast
.podcast-contenedor {
  position: relative;
  // overflow: hidden;
  padding: 24rem 0rem;

  @media (max-width: 768px) {
    padding: 15rem 0rem;

  }

  @media (max-width: 480px) {
    padding: 6rem 0rem;

  }
}

.podcast__titulo {
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}
.podcast__imagen {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
}

.podcast__card {
  margin-top: 8rem;
  background: #399F3D !important;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 40%;


  @media (max-width: 1024px) {
    max-width: 60%;
  }

  @media (max-width: 768px) {
    max-width: 80%;
    margin-top: 4rem;
    grid-template-columns: 3fr 1fr;
  }

  &-contenedor {

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
}

.podcast__cuerpo {
  padding: 1.5rem 0rem 4rem 4rem;

  @media (max-width: 480px) {
    padding-left: 2rem;
  }
}

.podcast__spotify {
  font-size: 2.5rem;

  @media (max-width: 480px) {
    font-size: 1.8rem;
  }
}

.podcast__nombre {
  font-size: 3.5rem;
  font-weight: 700;

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

.podcast__duracion {
  margin-bottom: 0;
  &-contenedor {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 1.4rem;
  }
}

.podcast__reloj {
  // height: 50%;
  // width: 50%;
}

.podcast__spotify-logo {
  align-self: center;
  height: 8.7rem;
  width: 8.7rem;

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }

}
