@import "header";
@import "home";
@import "tarifas";
@import "sobre-nosotros";
@import "footer";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #092971;
  font-weight: 400;
  font-size: 2rem;
  background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

a:hover {
  color: inherit;
}

ul {
    list-style-type: none;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h1, h2, h3 {
  color: #449847;
  font-weight: 700;
  & span {
    color:#092971;
  }
}

.main {
  position: relative;
}

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
}

.divider-general {
  position:relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;

  &-contenedor {
    overflow-x: hidden;

  }
}

.whatsapp-boton {
  height: 10rem;
  width: 10rem;
  z-index: 1;
  position: sticky;
  top: 90%;
  left: 95%;
  opacity: 90%;

  @media (max-width: 768px) {
    display: none;
  }
}

// .slider {
//   position: relative;
//   // overflow-x: auto;
//   // overflow: hidden;
//   // user-select: none;
//
// }
//
// .innerSlider {
//   position: absolute;
//   pointer-events: none;
// }

.swiper-container-home,
.swiper-container-tarifas {
  height: 90%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 32rem;
  height: inherit;
  filter: blur(.4rem);
}

.swiper-slide-active {
  filter: blur(0);

  &:hover {
    margin-bottom: 1rem;
  }
}
