@import "header";
@import "home";
@import "tarifas";
@import "sobre-nosotros";
@import "footer";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #092971;
;
  font-weight: 400;
  font-size: 2rem;
  background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

a:hover {
  color: inherit;
}

ul {
    list-style-type: none;
}

h2 {
  color: #449847;
  font-size: 4rem;
  font-weight: 700;
  & span {
    color:#092971;
  }
}

h3 {
  color: #449847;
  font-size: 3rem;
  font-weight: 700;
  & span {
    color:#092971;
  }
}

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
